@font-face  {
	font-weight: 600;
	font-style: normal;
	font-family: 'metropolisbold';
	src: url('../fonts/metropolis-bold-webfont.woff2') format('woff2'), url('../fonts/metropolis-bold-webfont.woff') format('woff');
}
	
@font-face {
	font-family: 'metropolislight';
	src: url('../fonts/metropolis-light-webfont.woff2') format('woff2'),         
	url('../fonts/metropolis-light-webfont.woff') format('woff');    
	font-weight: 300;
	font-style: normal;
}

@font-face {    
	font-family: 'metropolisregular';    
	src: url('../fonts/metropolis-regular-webfont.woff2') format('woff2'),         
	url('../fonts/metropolis-regular-webfont.woff') format('woff');    
	font-weight: 400;
	font-style: normal;
}

@font-face {    
	font-family: 'metropolisbold_italic';    
	src: url('../fonts/metropolis-bolditalic-webfont.woff2') format('woff2'),         
	url('../fonts/metropolis-bolditalic-webfont.woff') format('woff');    
	font-weight: 700;    
	font-style: italic;
}

@font-face {    
	font-family: 'metropolisblack';    
	src: url('../fonts/metropolis-black-webfont.woff2') format('woff2'),         
	url('../fonts/metropolis-black-webfont.woff') format('woff');    
	font-weight: 900;    
	font-style: normal;
}