/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/
ul.simple-pagination {
	list-style: none;
}.simple-pagination {	display: block;	overflow: hidden;	padding: 0 5px 5px 0;	margin: 0;}.simple-pagination ul {	list-style: none;	padding: 0;	margin: 0;}
.simple-pagination li {	list-style: none;	padding: 0;	margin: 0;	float: left;}
/*------------------------------------*\	Light Theme Styles\*------------------------------------*/
.light-theme a, .light-theme span {	float: left;	color: #222;	font-size:14px;	line-height:24px;	font-weight: normal;	text-align: center;	min-width: 14px;	text-decoration:underline;	padding: 0 7px;	margin: 0 5px 0 0;}.light-theme a:hover {	opacity:0.7;	text-decoration:none;}.light-theme .current {	color: #222;	cursor: default;}.light-theme .ellipse {	background: none;	border: none;	border-radius: 0;	box-shadow: none;	font-weight: bold;	cursor: default;}